* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: red;
  font-size: 30px;
}


button{
  border: none;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  width: 200px;
  height: 80px;
}